*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:#fff;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#38bdf8;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

/* Hero */

.hero{
    min-height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 20px;
}

.profile{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #38bdf8;
    margin-bottom:25px;
}

.hero h1{
    font-size:55px;
    margin-bottom:10px;
}

.hero h1 span{
    color:#38bdf8;
}

.hero h2{
    font-size:30px;
    color:#94a3b8;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    line-height:30px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:50px;
    transition:.3s;
}

.btn:hover{
    background:white;
    color:#111827;
}

/* About */

#about{
    padding:80px 10%;
    text-align:center;
    background:#111827;
}

#about h2{
    font-size:40px;
    color:#38bdf8;
    margin-bottom:25px;
}

#about p{
    max-width:900px;
    margin:auto;
    line-height:32px;
    font-size:18px;
}
/* Projects */

#projects{
padding:80px 10%;
text-align:center;
}

#projects h2{
font-size:40px;
color:#38bdf8;
margin-bottom:40px;
}

.project-card{
max-width:800px;
margin:25px auto;
background:#1e293b;
padding:30px;
border-radius:15px;
transition:.3s;
}

.project-card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #38bdf8;
}

/* Contact */

#contact{
padding:80px 10%;
text-align:center;
background:#111827;
}

#contact h2{
font-size:40px;
color:#38bdf8;
margin-bottom:30px;
}

#contact p{
font-size:18px;
margin:15px 0;
}

/* Footer */

footer{
background:#0b1120;
padding:25px;
text-align:center;
margin-top:40px;
}

footer p{
color:#94a3b8;
}
.experience-card,
.project-card,
.skill-card{

opacity:0;

transform:translateY(40px);

transition:0.7s ease;

}

.show{

opacity:1;

transform:translateY(0);

}
